﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssKendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Common/common")
    @Scripts.Render("~/bundles/kendoJS")
    @Scripts.Render("~/bundles/modernizers")
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="row-fluid">
                <div class="span12">
                    <h2>Welcome to my aplication.</h2>
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar-fixed-bottom" style="text-align: center; background-color: #244e8a; color: White;">
                Copyright ©2014 Manuel Fernandez Vilchez. All rigths reserved.
                <!-- Manuel Fernandez -->
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <div id="loading-panel" style="display: none;">
    </div>
    @Html.Hidden("urlloading", @System.Web.HttpUtility.UrlDecode(Url.Content("~/Content/kendo/2014.1.415/Flat/loading-image.gif")))
</body>
</html>
