﻿@{
    ViewBag.Title = "Home Page";
    var success = (int)Utilities.Enumerated.ResultTypes.Success;
}
<div id="messagesResult"></div>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<div id="map_canvas" style="width: auto; height: 500px;margin-top:20px"></div>
<style>
    #map_canvas img {
        max-width: none;
    }
</style>
<style>
    .infoDiv {
        height: 100px;
        width: 200px;
        -webkit-user-select: none;
        background-color: white;
    }
    .infoDiv h4 {
        margin-top: 0;
        color: inherit;
    }
</style>

@(Html.Kendo().Window()
.Name("popupNewMarker")
.Title("New Marker")
.Content(
@<text>
    <div class="modal-body">
        <form role="form" id="formNewLocation">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" placeholder="Description" rows="3"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" onclick="createNewMark()"><i class="icon-ok"></i> Confirm</button>
        <button class="btn" onclick="closePopupNewMark()"><i class="icon-remove-sign"></i> Cancel</button>
    </div>
@Html.Hidden("hdLatitude")
@Html.Hidden("hdLongitude")
@Html.Hidden("hdLatitudeView")
@Html.Hidden("hdLongitudeView")
</text>)
.Width(350)
.Visible(false)
.Actions(actions => actions.Close())
.Modal(true)
.Events(e=>e.Close("onClosePopupNewMarker"))
)
<script>
    var map;

    $(function (e) {
        initialize("map_canvas", '@Utilities.Constant.DefaultCoordinate.Latitude', '@Utilities.Constant.DefaultCoordinate.Longitude'); //Google Maps -> Perú Lima Miraflores
    });

    var newLocationValidator = $("#formNewLocation").kendoValidator(
     {
         messages: {
             title: "Title requerid."
         },
         rules: {
             title: function (input) {
                 if (input.is("[id=inputTitle]")) {
                     return input.val() != "" && input.val().length > 0
                 }
                 return true;
             }
         }
     }).data("kendoValidator");

    function hideMap() {
        $("#map_canvas").hide();
    }

    function showMap() {
        $("#map_canvas").show();
    }

    function initialize(ID, lat, lng) {
        try {
            var mapOptions = {
                center: new google.maps.LatLng(lat, lng),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
              mapOptions);
            listAllLocation();
            google.maps.event.addListener(map, 'click', function (event) {
                mark(event.latLng, lat, lng);
            });
        }
        catch (ex) {
            hideMap();
            showResultInDiv("messagesResult", "An ocurred error, please verificate your internet.", 2);
        }
    }
    
    function listAllLocation() {
        $.ajax({
            url: '@Url.Action("ListAllLocation")',
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function () {
                setImageOnRequest();
            },
            success: function (data) {
                if (data.Response == '@success') {
                    if (data.LocationList.length > 0) {
                        fillMap(data.LocationList);
                    }
                }
                else {
                    hideMap();
                    showResultInDiv("messagesResult", data.Message, 2);
                }
            },
            error: function (e) {
                showResultInDiv("messagesResult", '@Utilities.Message.Location.ErrorListLocation', 2);
            },
            complete: function () {
                removeImageOnRequest();
            }
        });
    }

    function fillMap(LocationList) {
        $.each(LocationList, function (i, item) {
            var marker = new google.maps.Marker({
                id: item.LocationId,
                position: new google.maps.LatLng(item.Latitude, item.Longitude),
                map: map,
                title: item.Name,
                draggable: true
            });
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
            addInfoEvent(marker, item.Name, item.Description)
            addDragEvent(marker);
        })
    }

    function mark(location, lat, lng) {
        $("#hdLocation").val(location);
        $("#hdLatitude").val(location.lat());
        $("#hdLongitude").val(location.lng());
        $("#hdLatitudeView").val(lat);
        $("#hdLongitudeView").val(lng);        
        KendoWindow_OpenPopup("popupNewMarker");
    }

    function createNewMark() {
        if (newLocationValidator.validate()) { 
            var newLocation = new ENLocation();
            $.ajax({
                url: '@Url.Action("CreateLocation")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(newLocation),
                beforeSend: function () {
                    setImageOnRequest();
                },
                success: function (data) {
                    if (data.Response == '@success') {
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(newLocation.Latitude, newLocation.Longitude),
                            map: map,
                            id: data.Id,
                            title: newLocation.Name,
                            draggable: true
                        });
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                        addInfoEvent(marker, newLocation.Name, newLocation.Description)
                        addDragEvent(marker);
                        var latLng = new google.maps.LatLng(newLocation.Latitude, newLocation.Longitude); //Makes a latlng
                        map.panTo(latLng);
                        $('#' + $("#hdLatitudeView").val()).val(map.getCenter().lat());
                        $('#' + $("#hdLongitudeView").val()).val(map.getCenter().lng());
                    }
                    showResultInDiv("messagesResult", data.Message, data.Response);
                },
                error: function (e) {
                    showResultInDiv("messagesResult", '@Utilities.Message.Location.ErrorCreateLocation', 2);
                },
                complete: function () {
                    removeImageOnRequest();
                }
            });
            closePopupNewMark();
        }
    }

    function ENLocation() {
        var newLocation = this;
        var location = $("#hdLocation").val();
        newLocation.Name = $("#inputTitle").val();
        newLocation.Description = $("#inputDescription").val();
        newLocation.Longitude = $("#hdLongitude").val();
        newLocation.Latitude = $("#hdLatitude").val();
        return newLocation;
    }

    function closePopupNewMark() {
        KendoWindow_ClosePopup("popupNewMarker")
    }

    function onClosePopupNewMarker() {
        $("#hdLocation").val("");
        $("#hdLongitude").val("");
        $("#hdLatitude").val("");
        $("#inputTitle").val("");
        $("#inputDescription").val("");
    }   

    function addDragEvent(marker) {
        google.maps.event.addListener(marker, 'dragend', function (evt) {
            dragMark(marker, evt.latLng)
        });
    }

    function addInfoEvent(marker, title, description) {
        var infowindow = new google.maps.InfoWindow({
            content: "<div class='infoDiv'><h2>" + title + "</h2>" + "<div><h4>" + description + "</h4></div></div>"
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }

    function dragMark(marker, latLng) {
        $.ajax({
            url: '@Url.Action("UpdateLocation")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ LocationId: marker.id, Latitude: latLng.lat(), Longitude: latLng.lng() }),
            beforeSend: function () {
                setImageOnRequest();
            },
            success: function (data) {
                if (data.Response == '@success') {
                    $("#txtLat").val(latLng.lat().toFixed(6));
                    $("#txtLng").val(latLng.lng().toFixed(6));
                    map.panTo(latLng);
                }
                showResultInDiv("messagesResult", data.Message, data.Response);
            },
            error: function (e) {
                showResultInDiv("messagesResult", '@Utilities.Message.Location.ErrorUpdateLocation', 2);
            },
            complete: function () {
                removeImageOnRequest();
            }
        });
    }
</script>
